<!doctype html>
<html lang="en">
<style>
  #search-nav {
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  #product-container {
    position: relative;
    overflow: hidden;
    background-color: #FFDFD3;
    column-count: 2;
  }

  .card {
    max-width: 400px;
    margin: 5px;
    padding: 1em;
  }

  body {
    background-image: url(https://www.solprof.com/sites/default/files/fondo-01.jpg);
    margin: 0;
    padding: 0;
  }
</style>

<head>
  <title>Catálogo</title>
  <link rel="icon" type="image/png" href="https://icon-icons.com/icons2/1550/PNG/32/cauldron_107364.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="../index.html"> <img
          src="https://icon-icons.com/icons2/1629/PNG/32/3808217-cauldron-halloween-pot-potion-witch_109086.png">
        Sabrina tu Celestina -en línea-</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="catalogo.html">Cosméticos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contactos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quienesSomos.html">¿Quién Soy?</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #FEC8D8;">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Ingresar producto">
        <button type="button" class="btn btn-success">Buscar</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid" id="product-container">
    <div class="card">
      <img class="card-img-top" src="../resources/aceite de jazmin para el rostro.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Aceite de jazmin</h4>
        <p class="card-text">Precio: 70 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../resources/aceite de limon para el rostro.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Aceite de limón</h4>
        <p class="card-text">Precio: 70 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../resources/aceite para el rostro de pepitas.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Aceite de pepitas</h4>
        <p class="card-text">Precio: 70 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../resources/aceite para el rostro de violetas.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Aceite de violetas</h4>
        <p class="card-text">Precio: 70 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../resources/agua-de-azahar 1.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Agua de azahar</h4>
        <p class="card-text"> Precio: 50 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../resources/Lejía para enrubiar el cabello.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Lejía</h4>
        <p class="card-text">Precio: 80 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../resources/miel.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Miel</h4>
        <p class="card-text">Precio: 70 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../resources/Perfume con almizcle.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Perfume con almizcle</h4>
        <p class="card-text">Precio: 75 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../resources/Perfume de ambar.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Perfume con ambar</h4>
        <p class="card-text">Precio: 75 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../resources/polvillo para el rostro.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Polvillo</h4>
        <p class="card-text">Precio: 50 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../resources/solimán para blanquear la piel.jpg" width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Solimán</h4>
        <p class="card-text">Precio: 50 Maravedis</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top"
        src="https://tusmejoresperfumes.com/wp-content/uploads/2017/02/La-Vie-Est-Belle-de-Lancome-1-300x300.jpg"
        width="300" height="300">
      <div class="card-body">
        <h4 class="card-title">Perfume con Aglalias</h4>
        <p class="card-text">Precio: 75 Maravedis</p>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="padding-top: 10px;">
    <div class="row" style="background-color: #FFDFD3;">
      <p>
        Para adquirir los productos contactar con:
      <ul>
        <li>sabrina@celestina.com</li>
        <li>areusa@promociones.com</li>
        <li>elicia@promociones.com</li>
      </ul>
      </p>
      <p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <footer>
    <div class="container-fluid">
      <br></br>
      <div class="row">
        <div class="col-4" width="100%">
          ©3er Parcial - Literatura Española I
          </p>
          <p>
            Alumna: Aldana Gomez Mellano
          </p>
        </div>

      </div>
  </footer>
<link rel="" href="resources">
</body>

</html>