<!doctype html>
<html lang="en">
<style>
    body {
        background-image: url(https://www.solprof.com/sites/default/files/fondo-01.jpg);
        margin: 0;
        padding: 0%;
        font-family: sans-serif;
    }

    /*#descrip-column {
        margin-left: 2px;
        margin-right: 2px;
        background-color: white;
        font-size: 1, 8rem;
    }*/

    #h4 {
        background-color: #FF637D;
        padding: 10px;
    }

    #container {
        position: relative;
        overflow: hidden;
        background-color: #82CACD;
    }

    .card {
        max-width: 400px;
        float: left;
        margin: 5px;
        padding: 1em;
    }
</style>

<head>
    <title>Contacto</title>
    <link rel="icon" type="image/png" href="https://icon-icons.com/icons2/1550/PNG/32/cauldron_107364.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="../index.html"> <img
                    src="https://icon-icons.com/icons2/1629/PNG/32/3808217-cauldron-halloween-pot-potion-witch_109086.png">
                Sabrina tu Celestina -en línea-</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="catalogo.html">Cosméticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contactos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienesSomos.html">¿Quién Soy?</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid" id="container">
        <div class="card">
            <img class="card-img-top" src="../resources/areusa.jpeg" alt="" height="600" width="600">
            <div class="card-body">
                <h4 class="card-title">Areúsa</h4>
            </div>
        </div>
        <div class="card" style="float: right;">
            <img class="card-img-top" src="../resources/elicia.jpeg" alt="" height="600" width="600">
            <div class="card-body">
                <h4 class="card-title">Elicia</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h6>Comunicate con Elicia</h6>
                <p class="card-text">
                <ul>
                    <h5 style="text-align: left;">Contactos</h5>
                    <li>Correo: elicia@promociones.com</li>
                    <li>Teléfono: 3845777321</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="card" style="float: left;">
            <div class="card-body">
                <h6>Comunicate con Areúsa</h6>
                <p class="card-text">
                <ul>
                    <h5 style="text-align: left;">Contactos</h5>
                    <li>Correo: areusa@promociones.com</li>
                    <li>Teléfono: 3845777321</li>
                </ul>
                </p>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <footer>
        <div class="container-fluid">
            <br></br>
            <div class="row">
                <div class="col-4" width="100%">
                    <p>
                        ©3er Parcial - Literatura Española I
                    </p>
                    <p>
                        Alumna: Aldana Gomez Mellano
                    </p>
                </div>

            </div>
    </footer>
</body>

</html>