<!doctype html>
<html lang="en">

<head>
    <title>Colectivo feminista repudia los dichos misóginos de Sempronio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        background-image: url(https://www.solprof.com/sites/default/files/fondo-01.jpg);
        margin: 0%;
        padding: 0%;
        background-color: #FFFFFF;
        font-family: sans-serif;
    }

    #carousel-container {
        position: relative;
        overflow: hidden;
        background-color: #FFDFD3;
        column-count: 2;
    }

    #carousel2 {
        max-width: 400px;
        float: left;
        margin: 5px;
        padding: 1em;
    }
</style>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="../index.html"> <img
                    src="https://icon-icons.com/icons2/1629/PNG/32/3808217-cauldron-halloween-pot-potion-witch_109086.png">
                Sabrina tu Celestina -en línea-</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="catalogo.html">Cosméticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contactos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienesSomos.html">¿Quién Soy?</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="background-color: #82CACD;" style="padding: 10px;">
        <h4 style="text-align: center;">Colectivo feminista repudia los dichos misóginos de Sempronio</h4>
        <article style="column-count: 1;">
            <p style="font-size: 20px;">
                Uno de los capturados por el asesinato de la alcahueta es un machista.
                Colectivo feminista expresó su repudio ante los dichos machistas y misóginos de Sempronio en su perfil
                personal de twitter.
                <br></br>
                Sempronio, unos días antes de ser capturado, en el contexto de la marcha de Ni Una Menos, lanzó unos
                tweets bastante desafortunados en los que demuestra su odio hacia la mujer, en el que no le bastaron los
                180 caracteres permitidos en la aplicación para demostrarlo, tanto que escribió al menos 20 tweets.
                Generó, como era de esperarse, un gran repudio por parte de la sociedad y sobre todo de los colectivos
                feministas del país, que hicieron sus descargos al respecto en sus cuentas de Facebook, Twitter e
                Instagram.
            </p>
            <br></br>
        </article>
    </div>
    <div class="container-fluid" id="carousel-container" style="padding: 10px;">
        <!-- carousel start -->
        <div class="container justify-content-center">
            <div id="carousel2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel2" data-slide-to="1"></li>
                    <li data-target="#carousel2" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <!-- la clase es carousel-item -->
                        <img src="../resources/tweet1.JPG" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="../resources/tweet2.JPG" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="../resources/tweet3.JPG" class="d-block w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- carousel end -->
    </div>
    <footer>
        <div class="container-fluid">
            <br></br>
            <div class="row">
                <div class="col-4" width="100%">
                    <p>©3er Parcial - Literatura Española I
                    </p>
                </div>

            </div>
    </footer>

</body>

</html>