<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sempronio y Pármeno fueron capturados</title>
    <link rel="icon" type="image/png" href="https://icon-icons.com/icons2/1550/PNG/32/cauldron_107364.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="../index.html"> <img
                    src="https://icon-icons.com/icons2/1629/PNG/32/3808217-cauldron-halloween-pot-potion-witch_109086.png">
                Sabrina tu Celestina -en línea-</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="catalogo.html">Cosméticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contactos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienesSomos.html">¿Quién Soy?</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="background-color: #82CACD;" style="padding: 10px;">
        <h4 style="text-align: center;">Sempronio y Pármeno fueron capturados</h4>
        <article style="column-count: 1;">
            <p style="font-size: 20px;">
                Fueron capturados los dos sospechosos de asesinar a una trotaconventos. Los acusados trabajaban para
                ella
                y se dice que el móvil del asesinato fue que la mujer no quiso compartir la paga que habían acordado por
                un trabajo. Se dice también que uno de los acusados, fue criado de niño por la mujer y que estuvo mucho
                tiempo alejado de la misma hasta que aceptó trabajar con ella en conjunto con el otro acusado.
                <br></br>
                Por otro lado, se sospecha que los asesinos serían pareja de unas damas de compañía que trabajaban para
                la mujer.
                Todavía se analizan las pruebas y se espera que sean degollados en la plaza mayor en los próximos días.
            </p>
            <br></br>
        </article>
    </div>
</body>

</html>