<!doctype html>
<html lang="en">

<head>
    <title>Hombre genera enojo en el ámbito religioso al deificar a su amada.</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    #product-container {
        position: relative;
        overflow: hidden;
        background-color: #FFDFD3;
        column-count: 2;
    }

    .card {
        max-width: 400px;
        float: left;
        margin: 5px;
        padding: 1em;
    }
</style>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="../index.html"> <img
                    src="https://icon-icons.com/icons2/1629/PNG/32/3808217-cauldron-halloween-pot-potion-witch_109086.png">
                Sabrina tu Celestina -en línea-</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="catalogo.html">Cosméticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contactos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienesSomos.html">¿Quién Soy?</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid" style="background-color: #82CACD;" style="padding: 10px;">
            <h4 style="text-align: center;">Hombre genera enojo en el ámbito religioso al deificar a su amada.</h4>
            <article style="column-count: 1;">
                <p style="font-size: 20px;">
                    Hombre genera enojo en el ámbito religioso al deificar a su amada.
                    Los representantes de las diferentes religiones salieron al choque tras la viralización de
                    un video en el que un señor de nombre Calisto describe a su amada como una diosa. Los
                    religiosos se enojaron muchísimo con estos dichos, por poner a un ser terrenal al mismo
                    nivel que sus dioses.
                    <br></br>
                    <span>
                        <b>
                            En el video se puede ver como Calisto dice: “Melibeo soy, y a Melibea adoro, y en
                            Melibea
                            creo, y a Melibea amo”.

                            “Por dios la creo, y no creo que haya otro soberano en el cielo, aunque entre
                            nosotros
                            mora”.
                            La viralización y el enojo fue tanto que hasta el Papa Francisco twitteó al
                            respecto,
                            indignado
                        </b>
                    </span>
                </p>
                <br></br>
            </article>
            <div class="container-fluid" id="container">
                <div class="card" style="float: left;">
                    <img class="card-img-top" src="../resources/tweet4.JPG" alt="">
                    <div class="card-body">
                        <p class="card-text">El descargo del Papa Francisco en su cuenta de Twitter</p>
                    </div>
                </div>
            </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>