<!doctype html>
<html lang="en">

<head>
    <title>Hombre genera enojo en el ámbito religioso al deificar a su amada.</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    #product-container {
        position: relative;
        overflow: hidden;
        background-color: #FFDFD3;
        column-count: 2;
    }

    .card {
        max-width: 400px;
        float: left;
        margin: 5px;
        padding: 1em;
    }
</style>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="../index.html"> <img
                    src="https://icon-icons.com/icons2/1629/PNG/32/3808217-cauldron-halloween-pot-potion-witch_109086.png">
                Sabrina tu Celestina -en línea-</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="catalogo.html">Cosméticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contactos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienesSomos.html">¿Quién Soy?</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid" style="background-color: #82CACD;" style="padding: 10px;">
            <h4 style="text-align: center;">Historia de amor con final trágico.</h4>
            <article style="column-count: 1;">
                <p style="font-size: 20px;">
                    Una joven se tiró de una torre hoy luego de enterarse de la muerte de su amado en su propia casa
                    mientras lo esperaba.
                    El hombre había ido a verla acompañado de sus criados y en el medio de un conflicto que se trata de
                    esclarecer cayó por las escaleras.
                    <br></br>
                    La joven al enterarse entró en un profundo dolor y tomó la decisión de quitarse la vida para así
                    poder estar juntos otra vez.
                    <br></br>
                </p>
                <br></br>
            </article>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>