<!doctype html>
<html lang="en">
<style>
  body {
    background-image: url(https://www.solprof.com/sites/default/files/fondo-01.jpg)
  }

  #h4 {
    background-color: #FF637D;
    padding: 10px;
  }

  #container {
    position: relative;
    overflow: hidden;
    background-color: #82CACD;
  }

  .card {
    max-width: 400px;
    height: 400px;
    float: left;
    margin: 5px;
    padding: 1em;
  }
</style>

<head>
  <title>Quien soy </title>
  <link rel="icon" type="image/png" href="https://icon-icons.com/icons2/1550/PNG/32/cauldron_107364.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="../index.html"> <img
              src="https://icon-icons.com/icons2/1629/PNG/32/3808217-cauldron-halloween-pot-potion-witch_109086.png">
          Sabrina tu Celestina -en línea-</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="catalogo.html">Cosméticos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="servicios.html">Servicios</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="contacto.html">Contactos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="quienesSomos.html">¿Quién Soy?</a>
              </li>
          </ul>
      </div>
  </nav>
  </header>
  <div class="container-fluid" id="container">
    <div class="card" style="float:left;"">
        <div class=" card-body">
      <p class="card-text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mi nombre es Sabrina y
        no hay persona en la ciudad que no conozca mi nombre.
        Soy una vendedora de cosméticos naturales de excelente calidad.
        Me desempeño también como celestina y hechicera. Mi oficio es servir a mis semejantes, con todos cumplo como si
        tuviese veinte pies y otras tantas manos. Soy muy astuta, puedo convertir cualquier rigor en miel, cualquier ira
        en mansedad y cualquier aceleramiento en sosiego.
        Tengo mucha experiencia en lo que hago y soy muy comprometida con mi trabajo.
        No dudes en que cumpliré con tus solicitudes. </p>
    </div>
  </div>
  <div class="card" style="float:right">
    <div class="card-body">
      <p class="card-text" style="font-family: 'Segoe UI';">Puedes seleccionar los cosméticos que desees en la sección
        “cosméticos” y comprarlos a través de mi correo, serán enviados a la brevedad a tu casa.
        <br></br>
        En la sección de servicios encontrarás todo lo que puedo brindarte en lo que refiere a ayuda en el amor y otras
        necesidades. Solo debes seleccionar el servicio que deseas y completar el formulario.
      <ul>
        <h5 style="text-align: left;">Contactos</h5>
        <li>Correo: sabrina@celestina.com</li>
        <li>Teléfono: 3845777321</li>
      </ul>
      </p>
    </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <footer>
    <div class="container-fluid">
      <br></br>
      <div class="row">
        <div class="col-4" width="100%">

          <p>©3er Parcial - Literatura Española I
          </p>
        </div>

      </div>
  </footer>
</body>

</html>