<!doctype html>
<html lang="en">

<head>
    <title>Sabrina tu Celestina en línea</title>
    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://icon-icons.com/icons2/1550/PNG/32/cauldron_107364.png">
    <link rel="stylesheet" href="https://bootswatch.com/darkly/">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body {
        background-image: url(https://www.solprof.com/sites/default/files/fondo-01.jpg);
        margin: 0;
        padding: 0;
    }


    #news-column {
        position: relative;
        overflow: hidden;
        background-color: #FFA194;
    }

    .card {
        max-width: 200px;
        height: 400px;
        float: left;
        margin: 1em;
        padding: 1em;
    }

    .carousel-slide {
        float: left;
    }

    #carousel-container {
        position: relative;
        overflow: hidden;
        background-color: blue;
    }
</style>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="../index.html"> <img
                    src="https://icon-icons.com/icons2/1629/PNG/32/3808217-cauldron-halloween-pot-potion-witch_109086.png">
                Sabrina tu Celestina -en línea-</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="catalogo.html">Cosméticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contactos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienesSomos.html">¿Quién Soy?</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid" id="news-column">
            <div class="card">
                <img class="card-img-top" src="https://gcdn.emol.cl/internet/files/2012/02/Amor.jpg" alt="">
                <div class="card-body">
                    <a href="formularoDeSolicitud.html">
                        <h4 class="card-title">Cita Online</h4>
                        <p class="card-text">Incluye cena para ambas personas</p>
                        <p>Precio: 500 Maravedis</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://www.horoscopohoy.cl/wp-content/uploads/2018/10/53cdda64f6d2b0dee3616a9f308ad11fdc747431.XL2_-300x250.jpg"
                    alt="">
                <div class="card-body">
                    <a href="formularoDeSolicitud.html">
                        <h4 class="card-title">Cita presencial</h4>
                        <p class="card-text">Lugar a confirmar. No incluye cena.</p>
                        <p>300 Maravedis</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://templodehechizos.com/wp-content/uploads/elementor/thumbs/amarres-de-amor-y-magia-blanca-efectiva-rituales-de-buena-suerte-ojt0ti6oup5novbuxitksx26jle64jvnbt1bqjzav8.jpg"
                    alt="">
                <div class="card-body">
                    <a href="formularoDeSolicitud.html">
                        <h4 class="card-title">Conjuros menores</h4>
                        <p class="card-text">Mal de ojo, anticonceptivo, afrodisíaco, etc.</p>
                        <p>200 Maravedis c/u</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREg1O6YbonseoFjfZ0VTQ1sBpE5_s9H3v3ZA&usqp=CAU"
                    alt="">
                <div class="card-body">
                    <a href="formularoDeSolicitud.html">
                        <h4 class="card-title">Deshacerse de un enemigo </h4>
                        <p class="card-text">Enfermedad, muerte.</p>
                        <p>500 Maravedis</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://gcdn.emol.cl/manualidades-y-artesania/files/2013/02/corazones3.jpg" alt="">
                <div class="card-body">
                    <a href="formularoDeSolicitud.html">
                        <h4 class="card-title">Conjuro para Enamorar</h4>
                        <p class="card-text">Caerá a sus pies.</p>
                        <p>400 Maravedis</p>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container-fluid">
            <br></br>
            <div class="row">
                <div class="col-4" width="100%">
                    <p>
                        ©3er Parcial - Literatura Española I
                    </p>
                    <p>
                        Alumna: Aldana Gomez Mellano
                    </p>
                </div>

            </div>
    </footer>
</body>

</html>